
#container1{
    background-image: url();
    background-repeat: no-repeat;
    
}

span{
    font-style: italic;
}

#container2{
    background-image: url(./bg.jpg);  /*This is the line that I want to change*/
}
h1{
  color: white;
}

p{
    background-color: white;
    opacity: 0.5;
}